# Docker Compose
DB_PASSWORD=devpassword

# CMS
CMS_APP_KEYS=key1,key2,key3,key4
CMS_API_TOKEN_SALT=change_me
CMS_ADMIN_JWT_SECRET=change_me
CMS_JWT_SECRET=change_me
CMS_TRANSFER_TOKEN_SALT=change_me

# S3
S3_ACCESS_KEY_ID=0ZM9AEFDEJPE0GKE66GX
S3_SECRET_ACCESS_KEY=change_me
S3_BUCKET=4565b9a17706-stylish-albert

# Web
STRAPI_API_TOKEN=change_me
REVALIDATE_SECRET=change_me

# Email
SMTP_HOST=smtp.beget.com
SMTP_PORT=465
SMTP_USER=i@paulislava.space
SMTP_PASS=change_me
CONTACT_EMAIL=i@paulislava.space
